*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100vh;
    background-color: rgb(211, 9, 49);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    border: 1px solid rgb(138, 11, 11);
    /* background: transparent; */
    background: rgb(85, 7, 22);
    padding: 10px;
    box-shadow: 2px 3px 15px rgb(7, 7, 7);
    border-radius: 10px;
}
input{
    width: 325px;
    background: transparent;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 40px;
    text-align: right;
    margin-bottom: 10px;
    cursor: pointer;
}
input::placeholder{
    color: #fff;
    font-size: 40px;
}
button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    box-shadow: 2px 4px 15px rgba(44, 44, 44, 0.3);
    cursor: pointer;
    
}

button:hover{
    background-color: rgb(33, 235, 117);
}

.equalto{
    background-color: rgb(236, 223, 43);
}
.equalto:hover{
    background-color: rgb(255, 171, 93);
}